.main {
	background-color: orange;
}

.login_topbar{
	 position: absolute;
	 top: 0;
	 left: 0;
	 height: 10%;
	 width: 100%;
	 background-color:  #994d00;
	 text-align: center;	
	 color: white;
}
.legend_bar{
	color: white;
	text-align: left;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 2vw;
}

.login_right{ 
	position: absolute;
	top: 11%;
	right: 5%;
	height: 90%;
	width: 40%;
}
.login_left{ 
	position: absolute;
	top: 11%;
	left: 2%;
	height: 90%;
	width: 30%;
}
.signup_right{ 
	position: absolute;
	top: 35%;
	right: 5%;
	height: 90%;
	width: 40%;
}

.para1 {
	color: black;
	text-align: left;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 2vw;
}
.field {
	color: black;
	border-width:6px;
}

.button {
 background-color: white;
  color: black;
  border: 4px solid #555555;
	padding: 10px 32px ;
}
.button:hover {
  background-color: #555555;
  color: white;
}

.footer {
	position: fixed;
	 bottom: 0;
	 left: 0;
	 height: 5%;
	 width: 100%;
	 background-color: white;
	 text-align: center;	
	 color: black;
}
