.buttonDiv {
	text-align: right;
	padding-right: 0px;
}
.button {
 background-color: white;
  color: black;
  border: 4px solid #555555;
	padding: 10px 32px ;
}
.button:hover {
  background-color: #555555;
  color: white;
}
.settingsDiv {
	position: absolute;
	top: 11%;
	right: 5%;
	height: 90%;
	width: 40%;
}
.footer {
	position: fixed;
	 bottom: 0;
	 left: 0;
	 height: 10%;
	 width: 100%;
	 background-color: white;
	 text-align: center;	
	 color: black;
}
.heading {
	 position: absolute;
	 top: 0;
	 left: 0;
	 height: 10%;
	 width: 100%;
	 border-collapse: collapse;
	 /*Testing actual position with this */
	  background-color: #003366;	
	 color: white;
	 font-size:130%;
text-align: center;

}
.main {
		background-color: #0099CC;
}